//main: ../style.scss

/* Start of variables/_padding.scss */

//Padding variables for rox <section>s
$rox-section-padding-default: 7rem;
$rox-section-padding-large: 9rem;
$rox-section-padding-small: 5rem;
$rox-section-padding-xsmall: 2rem;
/* End of variables/_padding.scss */
